.temp-grid {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 100px minmax(30px, 100px) 10px;
}

.temp-number {
  text-align: right;
}
.title {
  color: #9f9d9d;
  font-size: 0.875rem;
}

.percent-icon {
  font-size: 0.625rem;
}
